<% content_for :sidebar do %>
<div class="portlet portletD" id="portlet_userWall">
    <h2><span>Your stuff</span></h2>
    <div class="portlet_content">
      <%= link_to "Your photosets", member_picto_photosets_url %>
    </div>
</div>

<% end %>

<p><%= link_to "Upload more photos now!",  new_member_picto_photo_url, {:class => "button add", :title => "Upload new images"} %></p>

<div class="portlet portletG">
    <h2><span>Your photostream</span></h2>
    <div class="portlet_content">
        <ul class="clearfix">
          <% if @my_photos.empty? %>
            <li>There isn't any photos yet.</li>
          <% else %>
              <% @my_photos.each do |photo| %>
                <li><%= link_to image_tag(photo.image.url(:tiny)),
                            edit_member_picto_photo_url(photo),
                            {:title => photo.title} %></li>
              <% end %>
          <% end %>
        </ul>
    </div>
</div>
<% if !@my_photos.empty? %>
  <div class="info_results">
      <span class="info_items">
        Photos <%=@my_photos.size > 0 ? (@my_photos.offset + 1) : '0'%> to
              <%=@my_photos.size + @my_photos.offset%> of <%=@my_photos.total_entries%>
      </span>
      <span class="pages_navigation right">
          <%= will_paginate @my_photos %>
      </span>
  </div>
<%end%>
