<% content_for :sidebar do %>
  <%= link_to "Upload more photos now!",  new_member_picto_photo_url, {:class => "add", :title => "Upload new images"} %>
  <br/>
  <%= link_to "Your photosets", member_picto_photosets_url %>
<% end %>


<div class="titleB">Upload photos</div>

<br />

<%= error_messages_for :photo %>

<script type="text/javascript">
  function toggle_photoset(obj) {
    if (obj.value=="0"){
      $('new-set').appear();;
    }else{
      $('new-set').hide();
    } 
  }
</script>


<% form_for @photo, :url => member_picto_photos_path, :html => {:id => "entry", :multipart => true, :method => "post"} do |f| -%>
  <fieldset>
    <div class="fields">

      <fieldset>
        <legend>Common to all photos</legend>

        <p><label>Tags</label> <%= text_field :common, :tag_list, {:class => "fieldbox", :size => "40"}  %></p>

        <p><label>Select photoset</label> <%= select(:common, :photoset, @owned_photosets.collect {|p| [ p.title, p.id ] } << ["Create new...", 0], { :include_blank => true}, :onchange => "toggle_photoset(this)") %></p>

        
          <div id="new-set" style="display:none">
            <% fields_for :photoset do |p|-%>
            <fieldset>
              <p><label>Title</label> <%= p.text_field :title, {:size => nil} %></p>
              <p><label>Description</label> <%= p.text_area :description, :rows => 4 %></p>
            </fieldset>
            <% end -%> 
          </div>

      </fieldset>
      
			<script type="text/javascript">
			  function new_photo(i, n) {
			    $('fs_photo_' + n).toggle();
			    $('link_fs_photo_' + i).toggle();
			    $('link_fs_photo_' + n).toggle();
			  }
			</script>
   

      <% 5.times do |i| -%>
        <fieldset id="fs_photo_<%=i%>" <%if i>0%>style="display:none"<%end%> >
          <legend>Photo <%=i+1%></legend>
          <p><label>Title</label> <%= text_field "photo[#{i}]", :title, {:class => "fieldbox", :size => "40"}  %></p>
          <p><label>Tags</label> <%= text_field "photo[#{i}]", :tag_list, {:class => "fieldbox", :size => "40"}  %></p>
          <p><label>Description</label> <%= text_area "photo[#{i}]", :description, :size => '40x3' %></p>
          <p><label>Photo</label> <%= file_column_field "photo[#{i}]", 'image', {:size => nil} %></p>
        </fieldset>
	      <%if i < 4 %><div id="link_fs_photo_<%=i%>" <%if i>0%>style="display:none"<%end%>><a href="javascript:new_photo(<%=i%>, <%=i+1%>)" class="add">upload one photo more</a></div><%end%>
      <% end -%>
      
    </div>
  </fieldset>

  <br />
  <div class="actions">
    <%= submit_tag 'Upload!', :class => "button mainaction" %>
  </div>
     
<% end -%>
