<%= error_messages_for :photo %>

<script type="text/javascript">
  function toggle_photoset(obj) {
    if (obj.value=="0"){
      $('new-set').appear();;
    }else{
      $('new-set').hide();
    } 
  }
</script>


<% form_for @photo, :url => member_picto_photos_path, :html => {:id => "entry", :multipart => true, :method => "post"} do |f| -%>
  <h2 id="new_page">Upload photos</h2>

  <fieldset>
    
    <fieldset>
      <legend>Common to all photos</legend>
      
      <fieldset>
        <legend>Tags</legend>
        <label>Separated by ,<%= text_field :common, :tag_list, {:size => nil} %></label>
      </fieldset>
      
      <fieldset>
        <legend>Photoset</legend>
        <label>Select one<%= select(:common, :photoset, @owned_photosets.collect {|p| [ p.title, p.id ] } << ["Create new...", 0], { :include_blank => true}, :onchange => "toggle_photoset(this)") %></label>
        <div id="new-set" style="display:none">
          <% fields_for :photoset do |p|-%>
            <label>Title <%= p.text_field :title, {:size => nil} %></label>
            <label>Description <%= p.text_area :description, :rows => 4 %></label>
          <% end -%> 
        </div>
      </fieldset>
    </fieldset>
  
    <% 5.times do |i| -%>
      <p>
      <div class="group">
      <label>Title <%= text_field "photo[#{i}]", :title, {:size => nil}  %></label>
      <label>Tags <%= text_field "photo[#{i}]", :tag_list, {:size => nil}  %></label>
      </div>
      <label>Description <%= text_area "photo[#{i}]", :description, :rows => 3 %></label>
      <label>Photo <%= file_column_field "photo[#{i}]", 'image', {:size => nil} %></label>
      </p>
    <% end -%>
  
    <%= submit_tag 'Upload photos' %>
  </fieldset>
<% end -%>
