<p>Last Photos:</p>
<div style="width:75%">
<% unless @last_photos.blank? %>
  <% for photo in @last_photos %>
    <%= link_to image_tag(photo.image.url(:tiny)), picto_photo_url(photo), {:title => photo.title} %>
  <% end %>
  <div> All photo tags
    <ul>
      <% tag_cloud_photos %w(l1 l2 l3 l4 l5 l6 l7) do |tag, css_class| %>
        <li class="<%=css_class%>"><%= link_to tag, tags_picto_photos_path(:tag => tag.name) %></li>
      <% end -%>
    </ul>
  </div>
<% else %>
  No photos.
<% end %>
</div>

<p>Your Photos:</p>
<div style="width:75%">
<% unless @your_photos.blank? %>
  <% for photo in @your_photos %>
    <%= link_to image_tag(photo.image.url(:tiny)), picto_photo_url(photo), {:title => photo.title} %>
  <% end %>

  <div> Your photo tags
    <ul>
      <% tag_cloud_your_photos %w(l1 l2 l3 l4 l5 l6 l7) do |tag, css_class| %>
        <li class="<%=css_class%>"><%= link_to tag, tags_picto_photos_path(:tag => tag.name, :user => current_user) %></li>
      <% end -%>
    </ul>
  </div>
<% else %>
  No photos.
<% end %>
</div>


</ul>