<% content_for :sidebar do %>
<div class="portlet portletD" id="portlet_userWall">
    <h2><span>Your stuff</span></h2>
    <div class="portlet_content">
      <% form_tag member_picto_photoset_path(@photoset), :method => :delete do -%>    <br/>
        <%= submit_tag "Delete this photoset", :disable_with => "Please wait...", :type => "image", :src =>"/tog_core/images/ico/delete.gif" %> Delete this photoset
      <% end -%>
    </div>    
</div>
<% end %>


<div class="titleB"><%= I18n.t("tog_picto.member.photosets.edit.editing_photoset") %></div>

<br />

<%= error_messages_for :photoset %>

<% form_for :photoset, :url => member_picto_photoset_path, :html => {:id => "settings", :method => "put"} do |f| -%>

  <fieldset>
    <div class="fields">
       <p><label><%= I18n.t("tog_picto.member.photosets.edit.title") %></label> <%= f.text_field :title, {:class => "fieldbox", :size => "40"} %></p>

       <p><label><%= I18n.t("tog_picto.member.photosets.edit.description") %></label> <%= f.text_area :description, :size => '40x4' %></p>

       <p><label><%= I18n.t("tog_picto.member.photosets.edit.tags_separated_by") %></label> <%= f.text_field :tag_list, {:class => "fieldbox", :size => "40"} %></p>

       <p><label><%= I18n.t("tog_picto.member.photosets.edit.privacy") %></label><input checked="checked" type="checkbox" value="<%=@photoset.privacy%>" /><input name="user[admin]" type="hidden" value="0" /><%= I18n.t("tog_picto.member.photosets.edit.this_photoset_is_public") %></p>
    </div>
  </fieldset>
  
  

  <style type="text/css">
    div#droppable_container {  }
    div#available_photos { padding: 10px; border:5px solid #ccc;}
    img.photos { width:60px; height:60px; cursor:move; background:#9fcfba; border:1px solid #666;  }
    div.main_photo_in_the_set { border:5px solid #ccc; }
    div.photos_in_the_set { padding: 10px; background:#ffffff; border:5px solid #ccc; }
    div.photos_in_the_set_hover { border:5px dashed #aaa; background:#efefef; }
    div.photos_bin { padding: 10px; background:#ffffff; border:5px solid red; min-height:50px;}
    div.photos_bin_hover {border:5px dashed red; background:#efefef;}
  </style>
  
  <fieldset id="social-details">
    <legend><%= I18n.t("tog_picto.member.photosets.edit.photos") %></legend>
    <div class="group">
      <label><%= I18n.t("tog_picto.member.photosets.edit.main_photo") %>
      <div id="photoset_main_photo" class="main_photo_in_the_set">
        <div id="main_photo">
          <%= render :partial => 'main_photo_in_the_set', :locals => {:photoset => @photoset } %>
        </div>
        <div style="clear:both;"></div>
      </div>
      <%= drop_receiving_element "photoset_main_photo",
            :onDrop => "function(element){ #{remote_function(:update => 'main_photo', :url =>  set_main_photo_member_picto_photoset_url,:with => '"photo_id="+ element.id')}}",
            :accept => 'photo_in_set',                                             
            :hoverclass => 'photos_in_the_set_hover' %>
      </label>                
    </div>
    <div class="group">
      <% photos_in_the_set = @photoset.photos %>
      <label><%= I18n.t("tog_picto.member.photosets.edit.currently_in_the_set") %>
      <div id="photoset_<%= @photoset.id %>" class="photos_in_the_set">
        <div id="items">
          <%= render :partial => 'photoset_photos', :locals => {:photos_in_the_set => photos_in_the_set} %>
        </div>
        <div style="clear:both;"></div>
      </div>
      <%= drop_receiving_element "photoset_#{@photoset.id}",
            :onDrop => "function(element){ #{remote_function(:update => 'items', :url =>  add_photo_member_picto_photoset_url ,:with => '"photo_id="+ element.id')}}",
            :accept => 'photos',                                             
            :hoverclass => 'photos_in_the_set_hover' %>
            <br/>
      <div id="photos_bin" class="photos_bin">
        <div id="items">
          <h4><%= I18n.t("tog_picto.member.photosets.edit.drag_here_to_extract") %></h4>
        </div>
        <div style="clear:both;"></div>
      </div>
      <%= drop_receiving_element "photos_bin",
            :onDrop => "function(element){ #{remote_function(:update => 'items', :url =>  remove_photo_member_picto_photoset_url ,:with => '"photo_id="+ element.id')}}",
            :accept => 'photo_in_set',                                             
            :hoverclass => 'photos_bin_hover' %>
      </label>      
      <% available_photos = current_user.photos - photos_in_the_set %>
      <label><%= I18n.t("tog_picto.member.photosets.edit.available_photos") %>
         <div id="available_photos">
           <ul>
           <% unless available_photos.blank? %>
             <% for photo in available_photos %>
               <%= image_tag photo.image.url(:tiny),
                            :id => "photo_#{photo.id}",
                            :alt => photo.title,
                            :style=>  "cursor:move",
                            :class => "photos"  %>
               <%= draggable_element "photo_#{photo.id}", :revert => true %>
             <% end %>
           <% else %>
             <%= I18n.t("tog_picto.member.photosets.edit.no_more_photos") %>.
           <% end %>
           </ul>
         </div>
      </label>
    </div>
  </fieldset>  
  
  
  <br />
  <div class="actions">
    <%= submit_tag I18n.t("tog_picto.member.photosets.edit.save_photoset"), :class => "button mainaction" %>
  </div>
<% end -%>