<%= error_messages_for :photoset %>

<% form_for :photoset, :url => member_picto_photosets_path, :html => {:id => "settings", :method => "post"} do |f| -%>
  <h2>New photoset</h2>
  <fieldset>

       <fieldset id="login-details">
         <legend>Photoset info</legend>
         <label>Title <%= f.text_field :title, :size=> nil  %></label>
         <label>Description <%= f.text_area :description, :rows => 3 %></label>

       </fieldset>

       <fieldset>
         <legend>Settings</legend>
         <label>Tags <%= f.text_field :tag_list, :size=> nil  %></label>
         <label><input checked="checked" type="checkbox" value="1" /><input name="user[admin]" type="hidden" value="0" /> This photoset is public.</label>
       </fieldset>
  
    <%= submit_tag 'New photoset' %>
  </fieldset>
<% end -%>
